<nav class="navbar">
  <div class="logo">
    <img src="/VRcafe-logo.png" alt="logo" />
  </div>

  <button
    id="menu-btn"
    class="menu-btn"
    aria-expanded="false"
    aria-controls="nav-links"
  >
    ☰
  </button>

  <div id="nav-links" class="links">
    <button id="addBtn">Task Toevoegen</button>
    <button id="Addcat">Create filter</button>
    <div class="dropdown">
      <button class="dropbtn">Filters</button>
      <div class="dropdown-content" id="category-list">
        <button>Werk</button>
        <button>Persoonlijk</button>
        <button>Vrije tijd</button>
      </div>
    </div>
  </div>
</nav>
